<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- CORS 설정 -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>

        <!-- OPTIONS 요청 처리 -->
        <handlers>
            <add name="ASP-OPTIONS" path="*.asp" verb="OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
