openapi: 3.0.3
info:
  title: DASAM ARS 배치 주문 생성 API
  version: 4.0.0
  description: |
    # DASAM ARS/SMS/KTK 결제 배치 주문 생성 API

    이 API는 DASAM ARS(자동응답시스템), SMS 및 KTK(카카오톡)를 통한 **배치 결제 주문**을 생성합니다.

    ---

    ## 주요 기능

    | 기능 | 설명 |
    |------|------|
    | **배치 주문 생성** | 한 번의 API 호출로 여러 건의 주문 동시 생성 |
    | **ARS 전화결제** | 주문 정보 저장 (SMS 발송 없음) |
    | **SMS/KTK 인증** | 통합 인증번호 발송 및 주문 생성 |
    | **중복 방지** | terminal_id + order_no 조합으로 중복 검증 |
    | **가맹점 검증** | 실시간 터미널ID 유효성 검사 |

    ### 요청 형식
    - **Content-Type**: `application/json`
    - **배치 처리**: `orders` 배열 사용
    - **권장 배치 크기**: 1~50건

    ### 요청 예시
    ```json
    {
      "mode": "ars_data_add",
      "terminal_id": "T0021720",
      "request_type": "ARS",
      "cc_name": "홍길동",
      "phone_no": "01024021111",
      "card_no": "123456789012",
      "expire_date": "2512",
      "install_month": "00",
      "orders": [
        {"order_no": "ORD001", "amount": 1000, "cc_pord_desc": "상품A"},
        {"order_no": "ORD002", "amount": 2000, "cc_pord_desc": "상품B"}
      ]
    }
    ```

    ---

    ## 요청 파라미터

    ### 필수 파라미터

    | 파라미터 | 타입 | 설명 | 예시 |
    |:---------|:-----|:-----|:-----|
    | `mode` | string | 요청 모드 (**고정값**: `ars_data_add`) | `ars_data_add` |
    | `terminal_id` | string | KICC 발급 가맹점 터미널 ID | `T0021720` |
    | `request_type` | string | `ARS`=전화결제 / `SMS`=문자인증 / `KTK`=카카오톡 | `ARS` |
    | `cc_name` | string | 고객명 (SMS 메시지에 포함) | `홍길동` |
    | `phone_no` | string | 전화번호 (**숫자만**, 하이픈 제거) | `01024020684` |
    | `card_no` | string | 카드번호 (**12자리**) | `123456789012` |
    | `expire_date` | string | 유효기간 **YYMM** | `2512` |
    | `install_month` | string | 할부개월 (`00`=일시불, `02`~`12`=할부) | `00` |
    | `orders` | array | 주문 배열 (아래 참조) | - |

    ### 선택 파라미터

    | 파라미터 | 타입 | 설명 | 예시 |
    |:---------|:-----|:-----|:-----|
    | `cc_email` | string | 고객 이메일 | `customer@example.com` |
    | `sms_message` | string | 사용자 정의 메시지 (SMS/KTK 전용, 최대 90자) | `결제금액 100,000원` |
    | `agency_name` | string | 여행사명 (**SMS/KTK에서 sms_message 없을 시 필수**) | `테스트10 여행사` |
    | `reservation_no` | string | 예약번호 (**SMS/KTK에서 sms_message 없을 시 필수**) | `ABC1234` |
    | `alert_show` | string | 응답 표시 여부 (`Y`/`N`) | `Y` |

    > ⚠️ **SMS/KTK 조건부 필수 파라미터**:
    > - `sms_message`가 제공되지 않으면 `agency_name`과 `reservation_no`가 **필수**
    > - `sms_message`가 제공되면 `agency_name`과 `reservation_no`는 선택 (무시됨)

    ### orders 배열 (주문별 파라미터)

    | 파라미터 | 타입 | 필수 | 설명 | 예시 |
    |:---------|:-----|:----:|:-----|:-----|
    | `order_no` | string | O | 주문번호 (가맹점별 고유) | `ORD20250118001` |
    | `amount` | number/string | O | 결제금액 (1원 이상) | `50000` |
    | `cc_pord_desc` | string | O | 상품명 | `프리미엄 서비스` |

    > **참고**: orders 배열의 모든 항목에 `order_no`, `amount`, `cc_pord_desc` 필수

    ---

    ## 응답 파라미터

    ### batch_summary (배치 처리 요약)

    | 필드 | 타입 | 설명 |
    |:-----|:-----|:-----|
    | `total` | integer | 총 주문 건수 |
    | `success` | integer | 성공 건수 |
    | `fail` | integer | 실패 건수 |

    ### req_result (주문별 처리 결과 배열)

    | 필드 | 타입 | 설명 |
    |:-----|:-----|:-----|
    | `order_no` | string | 주문번호 |
    | `phone_no` | string | 전화번호 |
    | `result_code` | string | 결과 코드 (4자리, 0000=성공) |
    | `message` | string | 결과 메시지 |

    ---

    ## 에러 코드

    API 응답의 `result_code`와 `message` 필드로 결과를 확인합니다.

    ### 성공

    | 코드 | 메시지 | 설명 |
    |:----:|:-------|:-----|
    | `0000` | 등록성공 | 주문이 성공적으로 생성됨 |

    ### 파라미터 누락 에러

    | 코드 | 메시지 | 누락 파라미터 | 해결 방법 |
    |:----:|:-------|:-------------|:----------|
    | `0001` | 전송데이터구분오류 | `mode` | `ars_data_add`로 설정 |
    | `0002` | 주문번호누락 | `order_no` | 유효한 주문번호 전달 |
    | `0003` | 가맹점터미널ID누락 | `terminal_id` | KICC 발급 터미널ID 전달 |
    | `0004` | ARS타입누락 | `request_type` | ARS/SMS/KTK 값 전달 |
    | `0005` | 카드번호누락 | `card_no` | 12자리 카드번호 전달 |
    | `0006` | 고객명누락 | `cc_name` | 고객명 전달 |
    | `0007` | 상품명누락 | `cc_pord_desc` | 상품명 전달 |
    | `0008` | 결제금액누락 | `amount` | 숫자 형식 금액 전달 |
    | `0009` | 전화번호누락 | `phone_no` | 숫자만 전달 (하이픈 제거) |
    | `0014` | 유효기간누락 | `expire_date` | YYMM 형식 전달 |
    | `0015` | 할부개월수누락 | `install_month` | 00 또는 02~12 전달 |
    | `0016` | 여행사명누락 | `agency_name` | SMS/KTK에서 sms_message 없을 시 필수 |
    | `0018` | 예약번호누락 | `reservation_no` | SMS/KTK에서 sms_message 없을 시 필수 |

    ### 검증 에러

    | 코드 | 메시지 | 원인 | 해결 방법 |
    |:----:|:-------|:-----|:----------|
    | `0010` | 가맹점터미널ID불일치 | 미등록 터미널ID | KICC 발급 유효한 ID 사용 |
    | `0011` | 거래번호중복 | 동일 주문번호 존재 | 새 주문번호로 재시도 |

    ### 배치 전용 에러

    | 코드 | 메시지 | 원인 | 해결 방법 |
    |:----:|:-------|:-----|:----------|
    | `0012` | 주문건수와 금액건수 불일치 | orders 배열 필수 필드 누락 | 모든 항목에 필수 필드 포함 확인 |
    | `0013` | 주문건수와 상품명건수 불일치 | orders 배열 필수 필드 누락 | 모든 항목에 필수 필드 포함 확인 |

    > **참고**
    > - 배치 주문에서 일부라도 실패하면 전체 주문이 저장되지 않음
    > - 에러 코드는 주문건별로 반환, 배치 요약에서 성공/실패 건수 확인 가능

servers:
  - url: https://www.arspg.co.kr/ars/kicc/dev
    description: Development Server (HTTPS)
  - url: https://www.arspg.co.kr/ars/kicc
    description: Production Server (HTTPS)
  - url: http://www.arspg.co.kr/ars/kicc
    description: Production Server (HTTP)
  - url: http://localhost/ars/kicc
    description: Local IIS Server (Windows)

tags:
  - name: Batch Order
    description: 배치 주문 생성 및 관리

# 보안 스키마 (선택적 - 현재 API는 인증 없이 동작)
security: []

paths:
  /db/kicc_ars_order_v3_batch.asp:
    post:
      tags:
        - Batch Order
      summary: ARS/SMS/KTK 배치 주문 생성 (JSON)
      description: |
        한 번의 API 호출로 여러 건의 ARS 전화결제 또는 SMS/KTK 인증 주문을 생성합니다.
        SMS/KTK 타입의 경우 복수건 주문 시 하나의 통합 인증번호로 단일 SMS가 발송됩니다.

        **이 엔드포인트는 JSON 요청만 지원합니다.**

        ### JSON 배치 요청 형식

        JSON 요청은 `orders` 배열을 사용하여 구조화된 배치 처리를 제공합니다:

        ```json
        {
          "mode": "ars_data_add",
          "terminal_id": "T0021720",
          "request_type": "ARS",
          "cc_name": "홍길동",
          "phone_no": "01024021111",
          "card_no": "123456789012",
          "expire_date": "2512",
          "install_month": "00",
          "sms_message": "고객님, 주문하신 상품의 결제를 진행해주세요",
          "orders": [
            {"order_no": "ORD001", "amount": 1000, "cc_pord_desc": "상품A"},
            {"order_no": "ORD002", "amount": 2000, "cc_pord_desc": "상품B"}
          ]
        }
        ```

        ### 비즈니스 로직

        **배치 주문 처리 흐름**
        1. JSON 요청 파싱 및 orders 배열 추출
        2. orders 배열의 모든 항목에 필수 필드 존재 검증
        3. 가맹점 정보 조회 (1회만)
        4. SMS 타입인 경우 배치 전체에 대해 통합 인증번호 생성 및 단일 SMS 발송
        5. 각 주문건 순차 처리:
           - 주문번호 중복 체크
           - 주문 정보 저장
        6. 배치 결과 요약 반환 (JSON)

        **ARS 배치 주문 (request_type=ARS)**
        - 여러 주문건 동시 생성
        - 각 주문건은 독립적으로 검증 및 저장

        **SMS/KTK 배치 주문 (request_type=SMS 또는 KTK)**
        - 배치 주문 전체에 대해 하나의 통합 인증번호 자동 생성
        - 단일 SMS 발송 (복수건을 하나의 문자로 통합 발송)
        - 모든 주문은 동일한 인증번호 공유

        ### 주의사항
        - orders 배열의 모든 항목에는 order_no, amount, cc_pord_desc가 필수
        - 각 주문번호는 가맹점별로 고유해야 함 (중복 시 해당 건만 0011 에러)
        - 일부라도 실패하면 전체 주문이 저장되지 않음
        - 전화번호는 숫자만 입력 (하이픈 제거)
        - sms_message는 선택 파라미터로 SMS/KTK 타입에서만 유효 (최대 90자 권장)

      operationId: createBatchOrder

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchOrderRequest'

            examples:
              json_orders_array:
                summary: JSON 배치 요청 (3건)
                description: 구조화된 orders 배열 사용 (ARS 타입에서는 sms_message가 무시됨)
                value:
                  mode: ars_data_add
                  terminal_id: "T0021720"
                  request_type: ARS
                  cc_name: 홍길동
                  phone_no: "01024020684"
                  card_no: "123456789012"
                  expire_date: "2512"
                  install_month: "00"
                  sms_message: "고객님, ARS 타입에서는 이 메시지가 무시됩니다"
                  cc_email: customer@example.com
                  alert_show: Y
                  orders:
                    - order_no: "ORD20250118001"
                      amount: 50000
                      cc_pord_desc: "프리미엄 서비스"
                    - order_no: "ORD20250118002"
                      amount: 30000
                      cc_pord_desc: "베이직 서비스"
                    - order_no: "ORD20250118003"
                      amount: 40000
                      cc_pord_desc: "스탠다드 서비스"

              sms_batch_order:
                summary: SMS 배치 주문 (2건) - 사용자 정의 메시지 포함
                description: 복수건 주문에 대해 하나의 통합 인증번호로 단일 SMS 발송 (사용자 정의 메시지 추가)
                value:
                  mode: ars_data_add
                  terminal_id: "T0021720"
                  request_type: SMS
                  cc_name: 김철수
                  phone_no: "01024020684"
                  card_no: "123456789012"
                  expire_date: "2512"
                  install_month: "00"
                  sms_message: |-
                    안녕하세요 고객님
                    테스트10 여행사 입니다.
                    대한항공 ARS 결제 안내드립니다.
                    승객명:CHOI/EUNMI MS
                    결제금액:600,000 원
                    예약번호:XXXXXXX
                    ARS 진행하기:02-3490-6698
                    본 문자 수신 하신 후 1시간 이내에 ARS 결제를 진행해 주시기 바랍니다
                    ※ ARS 접수건은 최대 당일 23시 50분까지 유효합니다
                  alert_show: Y
                  orders:
                    - order_no: "SMS20250118001"
                      amount: 10000
                      cc_pord_desc: "상품A"
                    - order_no: "SMS20250118002"
                      amount: 20000
                      cc_pord_desc: "상품B"

              ktk_batch_order:
                summary: 카카오톡(KTK) 배치 주문 (3건) - 사용자 정의 메시지 포함
                description: 복수건 주문에 대해 하나의 통합 인증번호로 카카오톡 발송 (사용자 정의 메시지 추가)
                value:
                  mode: ars_data_add
                  terminal_id: "T0021720"
                  request_type: KTK
                  cc_name: 이영희
                  phone_no: "01024020684"
                  card_no: "123456789012"
                  expire_date: "2612"
                  install_month: "03"
                  sms_message: "안녕하세요! 여행 예약 결제 안내드립니다. 총 금액 150,000원"
                  cc_email: younghee@example.com
                  alert_show: Y
                  orders:
                    - order_no: "KTK20250118001"
                      amount: 50000
                      cc_pord_desc: "항공권"
                    - order_no: "KTK20250118002"
                      amount: 70000
                      cc_pord_desc: "호텔 예약"
                    - order_no: "KTK20250118003"
                      amount: 30000
                      cc_pord_desc: "렌터카"

              ktk_auto_message:
                summary: 카카오톡(KTK) 자동 메시지 생성 (여행사/항공 결제 안내)
                description: |
                  agency_name과 reservation_no를 제공하면 sms_message 없이도 자동으로 카카오톡 결제 안내 메시지가 생성됩니다.
                  생성되는 메시지:
                  "안녕하세요 고객님,
                  트래블포트여행사 입니다. 대한항공 ARS 결제 안내드립니다.

                  승객명 : CHOI/EUNMI MS
                  결제금액 : 600,000원
                  예약번호 : ABC1234
                  ARS 진행하기 : 02-3490-6698
                  본 문자 수신 하신 후 1시간 이내에 ARS 결제를 진행해 주시기 바랍니다.
                  ※ ARS 접수건은 최대 당일 23시 50분까지 유효합니다."
                value:
                  mode: ars_data_add
                  terminal_id: "T0021720"
                  request_type: KTK
                  cc_name: "CHOI/EUNMI MS"
                  phone_no: "01024020684"
                  card_no: "123456789012"
                  expire_date: "2512"
                  install_month: "00"
                  agency_name: "트래블포트"
                  reservation_no: "ABC1234"
                  alert_show: Y
                  orders:
                    - order_no: "KTKAUT20250118001"
                      amount: 300000
                      cc_pord_desc: "항공권1"
                    - order_no: "KTKAUT20250118002"
                      amount: 300000
                      cc_pord_desc: "항공권2"

              sms_auto_message:
                summary: SMS 자동 메시지 생성 (여행사/항공 결제 안내)
                description: |
                  agency_name과 reservation_no를 제공하면 sms_message 없이도 자동으로 결제 안내 메시지가 생성됩니다.
                  생성되는 메시지:
                  "안녕하세요 고객님
                  테스트10 여행사 입니다.
                  대한항공 ARS 결제 안내드립니다.
                  승객명:CHOI/EUNMI MS
                  결제금액:600,000 원
                  예약번호:ABC1234
                  ARS 진행하기:02-3490-6698
                  본 문자 수신 하신 후 1시간 이내에 ARS 결제를 진행해 주시기 바랍니다
                  ※ ARS 접수건은 최대 당일 23시 50분까지 유효합니다"
                value:
                  mode: ars_data_add
                  terminal_id: "T0021720"
                  request_type: SMS
                  cc_name: "CHOI/EUNMI MS"
                  phone_no: "01024020684"
                  card_no: "123456789012"
                  expire_date: "2512"
                  install_month: "00"
                  agency_name: "테스트10 여행사"
                  reservation_no: "ABC1234"
                  alert_show: Y
                  orders:
                    - order_no: "AUTO20250118001"
                      amount: 300000
                      cc_pord_desc: "항공권1"
                    - order_no: "AUTO20250118002"
                      amount: 300000
                      cc_pord_desc: "항공권2"

      responses:
        '200':
          description: |
            API 호출 성공 (성공/실패 여부는 result_code로 판단)

            **응답 형식**: JSON

            응답은 두 가지 주요 섹션으로 구성됩니다:
            - `batch_summary`: 배치 처리 요약 (총 건수, 성공 건수, 실패 건수)
            - `req_result`: 각 주문건의 처리 결과 배열

            **파싱 방법**:
            ```javascript
            fetch(apiUrl, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
              // 배치 요약 정보
              const summary = data.batch_summary;
              console.log(`총 ${summary.total}건 / 성공 ${summary.success}건 / 실패 ${summary.fail}건`);

              // 각 주문건 처리
              data.req_result.forEach(result => {
                if (result.result_code === "0000") {
                  console.log(`성공: ${result.order_no}`);
                } else {
                  console.error(`실패: ${result.order_no} - ${result.message}`);
                }
              });
            });
            ```

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchOrderResponse'

              examples:
                batch_success_all:
                  summary: 배치 전체 성공 (3건)
                  value:
                    batch_summary:
                      total: 3
                      success: 3
                      fail: 0
                    req_result:
                      - order_no: "ORD20250118001"
                        phone_no: "01024020684"
                        result_code: "0000"
                        message: "등록성공"
                      - order_no: "ORD20250118002"
                        phone_no: "01024020684"
                        result_code: "0000"
                        message: "등록성공"
                      - order_no: "ORD20250118003"
                        phone_no: "01024020684"
                        result_code: "0000"
                        message: "등록성공"

                batch_partial_success:
                  summary: 배치 부분 성공 (2건 성공, 1건 중복 실패)
                  value:
                    batch_summary:
                      total: 3
                      success: 2
                      fail: 1
                    req_result:
                      - order_no: "ORD20250118001"
                        phone_no: "01024020684"
                        result_code: "0000"
                        message: "등록성공"
                      - order_no: "ORD20250118002"
                        phone_no: "01024020684"
                        result_code: "0000"
                        message: "등록성공"
                      - order_no: "ORD20250118003"
                        phone_no: "01024020684"
                        result_code: "0011"
                        message: "거래번호중복"

                error_0010:
                  summary: 가맹점터미널ID불일치 (0010)
                  value:
                    batch_summary:
                      total: 0
                      success: 0
                      fail: 0
                    req_result:
                      - order_no: ""
                        phone_no: "01024020684"
                        result_code: "0010"
                        message: "가맹점터미널ID불일치"

        '400':
          description: |
            잘못된 요청 (Bad Request)

            요청 형식이 올바르지 않거나 필수 파라미터가 누락된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_json:
                  summary: JSON 파싱 오류
                  value:
                    error:
                      code: "BAD_REQUEST"
                      message: "JSON 형식이 올바르지 않습니다"
                      details: "Unexpected token at position 45"
                missing_required:
                  summary: 필수 파라미터 누락
                  value:
                    error:
                      code: "MISSING_PARAMETER"
                      message: "필수 파라미터가 누락되었습니다"
                      details: "terminal_id는 필수 입력 항목입니다"

        '500':
          description: |
            서버 내부 오류 (Internal Server Error)

            서버 처리 중 예기치 않은 오류가 발생한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                database_error:
                  summary: 데이터베이스 연결 오류
                  value:
                    error:
                      code: "DATABASE_ERROR"
                      message: "데이터베이스 연결에 실패했습니다"
                      details: "Connection timeout"
                internal_error:
                  summary: 내부 처리 오류
                  value:
                    error:
                      code: "INTERNAL_ERROR"
                      message: "서버 내부 오류가 발생했습니다"
                      details: "잠시 후 다시 시도해주세요"

components:
  schemas:
    # 요청 스키마
    BatchOrderRequest:
      type: object
      description: 배치 주문 생성 요청
      required:
        - mode
        - terminal_id
        - request_type
        - cc_name
        - phone_no
        - card_no
        - expire_date
        - install_month
        - orders
      properties:
        mode:
          type: string
          enum: [ars_data_add]
          description: |
            요청 모드 (고정값: ars_data_add)
            - 반드시 'ars_data_add' 값을 사용해야 함
            - 다른 값 입력 시 에러코드 0001 반환
          example: ars_data_add

        terminal_id:
          type: string
          minLength: 1
          maxLength: 20
          description: |
            가맹점 터미널 ID
            - KICC에서 발급받은 고유 식별자
            - 데이터베이스에 미등록된 터미널ID 사용 시 에러코드 0010 반환
            - 주문번호(order_no)와 조합하여 중복 검증에 사용됨
          example: "T0021720"

        request_type:
          type: string
          enum: [ARS, SMS, KTK]
          description: |
            요청 타입 (결제 인증 방식)
            - **ARS**: 전화 ARS 결제. SMS 발송 없음, 주문 정보만 저장
            - **SMS**: 문자 인증 결제. 인증번호가 포함된 SMS 발송
            - **KTK**: 카카오톡 인증 결제. 인증번호가 포함된 카카오톡 발송
            - SMS/KTK의 경우 배치 주문 시 하나의 통합 인증번호로 단일 메시지 발송
          example: ARS

        cc_name:
          type: string
          minLength: 1
          maxLength: 50
          description: |
            고객명 (모든 주문에 공통 적용)
            - SMS/KTK 발송 메시지에 포함됨
            - 예: "[홍길동] 님의 주문인증번호는..."
            - 누락 시 에러코드 0006 반환
          example: 홍길동

        phone_no:
          type: string
          pattern: '^\d{10,11}$'
          description: |
            고객 전화번호 (모든 주문에 공통 적용)
            - 숫자만 입력 (하이픈(-) 제거 필수)
            - SMS/KTK 수신 번호로 사용됨
            - 10~11자리 (예: 01012345678)
            - 누락 시 에러코드 0009 반환
          example: "01024020684"

        card_no:
          type: string
          minLength: 12
          maxLength: 12
          pattern: '^\d{12}$'
          description: |
            카드번호 (모든 주문에 공통 적용)
            - 12자리 숫자만 입력
            - 누락 시 에러코드 0005 반환
          example: "123456789012"

        expire_date:
          type: string
          minLength: 4
          maxLength: 4
          pattern: '^[0-9]{4}$'
          description: |
            카드 유효기간 YYMM (모든 주문에 공통 적용)
            - 형식: YYMM (년도 2자리 + 월 2자리)
            - 예: 2512 = 2025년 12월
            - 누락 시 에러코드 0014 반환
          example: "2512"

        install_month:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^(00|0[2-9]|1[0-2])$'
          description: |
            할부개월수 (모든 주문에 공통 적용)
            - 00: 일시불
            - 02~12: 할부 (2개월~12개월)
            - 01은 사용 불가
            - 누락 시 에러코드 0015 반환
          example: "00"

        cc_email:
          type: string
          format: email
          description: |
            고객 이메일 주소 (선택)
            - 결제 완료 알림 발송용
            - 입력하지 않아도 주문 처리에 영향 없음
          example: customer@example.com

        sms_message:
          type: string
          maxLength: 90
          description: |
            사용자 정의 메시지 (선택, SMS/KTK 전용)
            - request_type이 SMS 또는 KTK인 경우에만 적용
            - ARS 타입에서는 무시됨
            - 기본 인증번호 메시지 앞에 추가됨
            - 최대 90자 권장 (LMS 전환 방지)

            **발송 메시지 형식:**
            [사용자 정의 메시지] + [고객명] 님의 주문인증번호는[XXXXXX]입니다 02-3490-XXXX 로전화주십시오

            **줄바꿈 안내:**
            - JSON에서는 `\n` 또는 `\r\n`으로 입력
            - 예: "첫줄\n둘째줄"
          example: "고객님, 트래블포트에서 결제하실 금액은 총 100,000원 입니다"

        alert_show:
          type: string
          enum: [Y, N]
          default: Y
          description: |
            응답 표시 여부 (디버깅용)
            - Y: 응답 표시
            - N: 응답 미표시
            - 운영 환경에서는 기본값 Y 사용 권장
          example: Y

        agency_name:
          type: string
          maxLength: 100
          description: |
            여행사명 (**SMS/KTK에서 sms_message 없을 시 필수**)
            - SMS/KTK 타입에서 sms_message가 제공되지 않으면 **필수**
            - sms_message가 있으면 무시됨
            - 누락 시 에러코드 0016 반환
            - 자동 생성 메시지 형식:
              "안녕하세요 고객님
              {agency_name} 입니다.
              대한항공 ARS 결제 안내드립니다.
              승객명:{cc_name}
              결제금액:{배치 금액 합계} 원
              예약번호:{reservation_no}
              ARS 진행하기:02-3490-6698
              ..."
          example: "테스트10 여행사"

        reservation_no:
          type: string
          maxLength: 50
          description: |
            예약번호 (**SMS/KTK에서 sms_message 없을 시 필수**)
            - SMS/KTK 타입에서 sms_message가 제공되지 않으면 **필수**
            - sms_message가 있으면 무시됨
            - 누락 시 에러코드 0018 반환
            - 배치 주문의 모든 금액 합계가 메시지에 표시됨
          example: "ABC1234"

        orders:
          type: array
          minItems: 1
          description: |
            주문 배열 (필수)
            - 배치 처리할 주문 목록
            - 각 주문에 order_no, amount, cc_pord_desc 필수
            - 일부라도 실패하면 전체 주문이 저장되지 않음
            - 권장 배치 크기: 1~50건
          items:
            $ref: '#/components/schemas/OrderItem'

    # 주문 아이템 스키마
    OrderItem:
      type: object
      description: 개별 주문 항목
      required:
        - order_no
        - amount
        - cc_pord_desc
      properties:
        order_no:
          type: string
          minLength: 1
          description: |
            주문번호
            - 가맹점별로 고유해야 함
            - terminal_id + order_no 조합으로 중복 검증
            - 중복 시 해당 주문건만 에러코드 0011 반환
            - 권장 형식: ORD + YYYYMMDD + 순번 (예: ORD20250118001)
          example: "ORD20250118001"
        amount:
          description: |
            결제금액
            - 숫자 또는 문자열 모두 허용
            - 1원 이상 필수
            - 누락 시 에러코드 0008 반환
          oneOf:
            - type: integer
              minimum: 1
              example: 1000
            - type: string
              pattern: '^\d+$'
              example: "1000"
        cc_pord_desc:
          type: string
          minLength: 1
          description: |
            상품명
            - 결제 내역에 표시되는 상품 설명
            - 누락 시 에러코드 0007 반환
          example: "프리미엄 서비스"

    # 응답 스키마
    BatchSummary:
      type: object
      description: 배치 처리 요약 정보
      required:
        - total
        - success
        - fail
      properties:
        total:
          type: integer
          description: 총 주문 건수
          example: 3
        success:
          type: integer
          description: 성공 건수
          example: 2
        fail:
          type: integer
          description: 실패 건수
          example: 1

    OrderResult:
      type: object
      description: 개별 주문 처리 결과
      required:
        - order_no
        - phone_no
        - result_code
        - message
      properties:
        order_no:
          type: string
          description: 주문번호
          example: "ORD20250118001"
        phone_no:
          type: string
          description: 전화번호
          example: "01024021111"
        result_code:
          type: string
          description: 결과 코드 (4자리)
          pattern: '^\d{4}$'
          example: "0000"
        message:
          type: string
          description: 결과 메시지
          example: "등록성공"

    BatchOrderResponse:
      type: object
      description: 배치 주문 생성 응답
      required:
        - batch_summary
        - req_result
      properties:
        batch_summary:
          $ref: '#/components/schemas/BatchSummary'
        req_result:
          type: array
          description: 각 주문건의 처리 결과 목록
          items:
            $ref: '#/components/schemas/OrderResult'
      example:
        batch_summary:
          total: 3
          success: 2
          fail: 1
        req_result:
          - order_no: "ORD20250118001"
            phone_no: "01024021111"
            result_code: "0000"
            message: "등록성공"
          - order_no: "ORD20250118002"
            phone_no: "01024021111"
            result_code: "0000"
            message: "등록성공"
          - order_no: "ORD20250118003"
            phone_no: "01024021111"
            result_code: "0011"
            message: "거래번호중복"

    # 에러 응답 스키마
    ErrorResponse:
      type: object
      description: API 에러 응답
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      description: 에러 상세 정보
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: 에러 코드
          example: "BAD_REQUEST"
        message:
          type: string
          description: 에러 메시지
          example: "요청 형식이 올바르지 않습니다"
        details:
          type: string
          description: 추가 상세 정보
          example: "JSON 파싱 오류"

  # 보안 스키마 정의 (향후 인증 도입 시 사용)
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: |
        API 키 인증 (선택적)
        - 현재 API는 인증 없이 사용 가능
        - 향후 보안 강화 시 API 키 인증 도입 예정
        - 발급 문의: support@dasam.co.kr

# 에러 코드 매핑 테이블
x-error-codes:
  - code: "0000"
    message: 등록성공
    description: 주문이 성공적으로 생성됨
    http_status: 200
    severity: success

  - code: "0001"
    message: 전송데이터구분오류
    description: mode 파라미터가 'ars_data_add'가 아님
    solution: mode 파라미터를 'ars_data_add'로 설정
    severity: error

  - code: "0002"
    message: 주문번호누락
    description: order_no 파라미터가 비어있음
    solution: 유효한 주문번호를 전달
    severity: error

  - code: "0003"
    message: 가맹점터미널ID누락
    description: terminal_id 파라미터가 비어있음
    solution: KICC 발급 터미널ID 전달
    severity: error

  - code: "0004"
    message: ARS타입누락
    description: request_type 파라미터가 비어있음
    solution: "ARS, SMS 또는 KTK 값 전달"
    severity: error

  - code: "0005"
    message: 카드번호누락
    description: card_no 파라미터가 비어있음
    solution: 12자리 숫자 형식의 카드번호 전달
    severity: error

  - code: "0006"
    message: 고객명누락
    description: cc_name 파라미터가 비어있음
    solution: 고객명 전달
    severity: error

  - code: "0007"
    message: 상품명누락
    description: cc_pord_desc 파라미터가 비어있음
    solution: 상품명 전달
    severity: error

  - code: "0008"
    message: 결제금액누락
    description: amount 파라미터가 비어있음
    solution: 숫자 형식의 금액 전달
    severity: error

  - code: "0009"
    message: 전화번호누락
    description: phone_no 파라미터가 비어있음
    solution: "숫자만 포함된 전화번호 전달 (하이픈 제거)"
    severity: error

  - code: "0010"
    message: 가맹점터미널ID불일치
    description: 데이터베이스에 등록되지 않은 terminal_id
    solution: KICC에서 발급한 유효한 터미널ID 사용
    severity: error

  - code: "0011"
    message: 거래번호중복
    description: 동일한 terminal_id와 order_no 조합이 이미 존재
    solution: 새로운 주문번호 생성하여 재시도
    severity: error

  - code: "0014"
    message: 유효기간누락
    description: expire_date 파라미터가 비어있음
    solution: "YYMM 형식의 유효기간 전달 (예: 2512)"
    severity: error

  - code: "0015"
    message: 할부개월수누락
    description: install_month 파라미터가 비어있음
    solution: "할부개월수 전달 (00=일시불, 02-12=할부)"
    severity: error

  - code: "0016"
    message: 여행사명누락 (sms_message 미제공 시 필수)
    description: SMS/KTK 타입에서 sms_message 없이 agency_name이 누락됨
    solution: "sms_message를 제공하거나, agency_name과 reservation_no를 모두 전달"
    severity: error
    conditional: true
    condition: "request_type이 SMS 또는 KTK이고 sms_message가 없을 때"

  - code: "0018"
    message: 예약번호누락 (sms_message 미제공 시 필수)
    description: SMS/KTK 타입에서 sms_message 없이 reservation_no가 누락됨
    solution: "sms_message를 제공하거나, agency_name과 reservation_no를 모두 전달"
    severity: error
    conditional: true
    condition: "request_type이 SMS 또는 KTK이고 sms_message가 없을 때"

  - code: "0012"
    message: 주문건수와 금액건수 불일치
    description: orders 배열 내 필수 필드 누락
    solution: "orders 배열의 모든 항목에 order_no, amount, cc_pord_desc 포함 확인"
    severity: error
    batch_only: true

  - code: "0013"
    message: 주문건수와 상품명건수 불일치
    description: orders 배열 내 필수 필드 누락
    solution: "orders 배열의 모든 항목에 order_no, amount, cc_pord_desc 포함 확인"
    severity: error
    batch_only: true

# 비즈니스 로직 설명
x-business-logic:
  batch_processing:
    description: 배치 주문 처리 방식
    format: "JSON orders 배열"
    batch_parameters: ["order_no", "amount", "cc_pord_desc"]
    common_parameters: ["cc_name", "phone_no", "card_no", "expire_date", "install_month", "cc_email", "agency_name", "reservation_no"]
    validation: "orders 배열의 모든 항목에 필수 필드 포함 확인"
    processing: "각 주문건을 순차적으로 처리, 일부라도 실패하면 전체 주문이 저장되지 않음"

  order_number_generation:
    description: 주문번호는 가맹점에서 자체 생성하며, 가맹점별로 고유해야 함
    pattern: "권장 형식 - ORD + YYYYMMDD + 순번 (예: ORD20250118001)"
    validation: terminal_id + order_no 조합으로 중복 체크
    batch_example: '{"orders": [{"order_no": "ORD20250118001"}, {"order_no": "ORD20250118002"}]}'

  sms_auth_number:
    description: SMS/KTK 배치 요청 시 전체 배치에 대해 하나의 통합 인증번호 생성
    format: 숫자 6자리 (000100부터 시작)
    generation: sp_getKiccAuthNo 저장 프로시저로 순차 생성
    sms_content: "[고객명] 님의 주문인증번호는[XXXXXX]입니다 02-3490-XXXX 로전화주십시오"
    batch_behavior: "복수건 주문 시 하나의 통합 인증번호로 단일 SMS 발송"

  sms_custom_message:
    description: SMS/KTK 사용자 정의 메시지 기능
    parameter: sms_message
    optional: true
    max_length: 90
    format: "UTF-8 한글 지원"
    usage: "request_type이 SMS 또는 KTK인 경우에만 적용"
    message_structure: "[사용자 정의 메시지] + [기본 인증번호 메시지] + [콜백번호]"
    example_default: "홍길동 님의 주문인증번호는[123456]입니다 02-3490-4411 로전화주십시오"
    example_custom: "고객님, 결제금액 100,000원 입니다 홍길동 님의 주문인증번호는[123456]입니다 02-3490-4411 로전화주십시오"

  sms_auto_message:
    description: SMS/KTK 자동 메시지 생성 기능 (여행사/항공 결제 안내)
    parameters: ["agency_name", "reservation_no"]
    conditional_required: true
    requirement: "SMS/KTK 타입에서 sms_message가 없으면 agency_name과 reservation_no 모두 필수"
    error_codes:
      - "0016: 여행사명누락 (sms_message 미제공 시 필수)"
      - "0018: 예약번호누락 (sms_message 미제공 시 필수)"
    airline: "대한항공 (고정값)"
    amount_calculation: "배치 주문의 모든 금액 합계 (천단위 콤마 포맷)"
    ars_phone: "02-3490-6698 (고정값)"
    message_template: |
      안녕하세요 고객님
      {agency_name} 입니다.
      대한항공 ARS 결제 안내드립니다.
      승객명:{cc_name}
      결제금액:{총 금액 합계} 원
      예약번호:{reservation_no}
      ARS 진행하기:02-3490-6698
      본 문자 수신 하신 후 1시간 이내에 ARS 결제를 진행해 주시기 바랍니다
      ※ ARS 접수건은 최대 당일 23시 50분까지 유효합니다
    priority: "1. sms_message (사용자 정의) - agency_name/reservation_no 불필요 | 2. 자동 생성 (agency_name + reservation_no 필수)"

  duplicate_prevention:
    description: 주문번호 중복 방지 메커니즘
    check: KICC_SHOP_ORDER 테이블에서 terminal_id + order_no 조회
    result: 존재하면 해당 주문건만 0011 에러, 다른 주문건은 정상 처리
    batch_handling: "배치 주문에서 일부라도 중복 발생 시 전체 주문이 저장되지 않음"

  merchant_validation:
    description: 가맹점 정보 검증
    procedure: sp_getKiccShopInfo 저장 프로시저 호출
    fields: terminal_nm, terminal_id, terminal_pw, ars_dnis, admin_id, admin_name
    failure: 가맹점 정보 없으면 전체 배치 주문 실패 (0010 에러)
    batch_optimization: "배치 주문 시 가맹점 정보는 1회만 조회"

# SDK 생성 가이드
x-sdk-generation:
  recommended_tools:
    - name: OpenAPI Generator
      command: "openapi-generator-cli generate -i kicc_ars_api_v3_batch.yaml -g <language> -o ./sdk"
      languages: ["python", "typescript-axios", "java", "csharp", "php", "go"]
    - name: Swagger Codegen
      command: "swagger-codegen generate -i kicc_ars_api_v3_batch.yaml -l <language> -o ./sdk"

  generated_types:
    request:
      - BatchOrderRequest
      - OrderItem
    response:
      - BatchOrderResponse
      - BatchSummary
      - OrderResult
      - ErrorResponse
      - ErrorDetail

  usage_example:
    python: |
      from kicc_client import ApiClient, BatchOrderApi
      from kicc_client.models import BatchOrderRequest, OrderItem

      client = ApiClient()
      api = BatchOrderApi(client)

      request = BatchOrderRequest(
          mode="ars_data_add",
          terminal_id="T0021720",
          request_type="ARS",
          cc_name="홍길동",
          phone_no="01024020684",
          card_no="123456789012",
          expire_date="2512",
          install_month="00",
          orders=[
              OrderItem(order_no="ORD001", amount=1000, cc_pord_desc="상품A"),
              OrderItem(order_no="ORD002", amount=2000, cc_pord_desc="상품B")
          ]
      )

      response = api.create_batch_order(request)
      print(f"성공: {response.batch_summary.success}건")
